*,*::after, *::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6, p {
  padding: 0;
  margin: 0;
}

/* Styles for todo page */
.main-container {
  width: 100%;
  padding: 1rem;  
  margin: 1rem auto 3rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  border-radius: 0.25rem;
  background-color: #f8f9fa !important;
}

.auth-status-message {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.auth-status-message button {
  cursor:pointer;
  margin-left: 1rem;
}
.not-found-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  font-size: 2rem;
  font-weight: bold;
  color: #343a40;
}

.app-title {
  color: #007bff;
  padding: 1.5rem;
  text-align:center;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  max-width: 700px;
  width:100%;
  margin: 0 auto;
}
.login-form h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.login-form div {
  display: flex;
  flex-direction: column;
}

.login-form button {
  white-space: nowrap;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: .75rem 1rem;
  border-radius: .25rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

.login-form input {
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-size: 1rem;
}

.todo-list-header {
  margin-bottom: 1.5rem;
}
.task-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 2rem;
  max-width: 700px;
  padding: 0px 1rem;
}
.task-input-container input, .task-input-container textarea {
  width: 100%;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  font-size: 1.5rem;
  margin-right: .5rem;
}
.task-input-container button {
  white-space: nowrap;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: .75rem 1rem;
  border-radius: .25rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}
.image-input-label {
  cursor: pointer;
}

.task-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: 100%; 
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  justify-content: space-between;
}
.tasks-container-header {
  border-top: 1px solid #ced4da;
}
.tasks-container-header > h3 {
  margin-top: 0.5rem;
  color: #007bff
}
.no-tasks-found-message {
  text-align: center;
  margin-top: 1rem;
}

.task-header h4 {
  padding-right: 1.25rem;
}
.task-item button {
  visibility: hidden;
  cursor: pointer;
  font-size: 1.25rem;
}
.task-item:hover {
  background-color: #E9EEF6;
}
.task-item:hover button{
  display: block;
  visibility: visible;
}
.task-item-priority {
  position: absolute;
  right:8px;
  top:8px;
  color:rgb(255, 123, 0)
}
.task-item-buttons-container {
  display: flex;
  gap: 0.5rem;
}

.edit-button {
  line-height: 1;
  background: none;
  border: none;
}

.delete-button {
  color: red;
  line-height: 1;
  background: none;
  border: none;
}
.task-header {
  display: flex;
  align-items: center;
   cursor: pointer;
  position: relative;
  flex:1 1 auto;
}

.status-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}
.status-icon-container h4 {
  flex-grow: 1;
  font-size: 1.75rem;
  padding: 0.5rem;
}

.completed-icon {
  color: #28a745;
}

.tasks-header-container h3 {
  font-size: 1.5rem;
}

.status-filter {
  display: flex;
  gap:0.5rem;
  padding: 0 1rem;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-end;
}

button.modal-open {
  display:block;
  padding:20px;
  color:#424242;
  font-weight:bold;
  margin:50px auto;
  width:200px;
  background:#e0e0e0;
  border-radius:2px;
  text-align:center;
  text-decoration:none;
}
.modal {
  background:rgba(0,0,0,0.7);
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  bottom:0px;
  transition:all .5s ease-in-out;
  opacity:0;
  z-index:-1;
}
.modal.open {
  opacity:1;
  transition:all .5s ease-in-out;
  z-index:+1;
}
.modal-content {
  position:fixed;
  top:50%;
  left:50%;
  width:500px;
  background:#fff;
  border-radius:4px;
  transform:translate(-50%, -200%);
  transition:all .5s ease-in-out;
  perspective: 1000;
  outline:1px solid transparent;
  opacity:0;
  overflow: auto;
  max-height: calc(100vh - 5rem);
}

.modal.open .modal-content {
  transform:translate(-50%, -50%);
  transition:all .5s ease-in-out;
  transition-delay:.5s;
  z-index:9999;
  opacity:1;
}
.modal-close {
  float:right;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration:none;
  padding:22px 22px;
  color:#fff;
  font-weight:800;
  transition:all .5s ease-in-out;
  z-index:+1;
  background:rgba(0,0,0,0.1);
  text-align:center;
  border-radius:0 4px 0 0;
}
.modal-close:hover {
  color:#fff;
  background:rgba(0,0,0,0.5);
}
.modal-content h3 {
  padding:20px;
  display:block;
  text-align:center;
  border-bottom:1px solid #e0e0e0;
  text-transform:uppercase;
  background: #007bff;
  color:#fff;
  border-radius:4px 4px 0 0;
}
.modal-area {
  padding:20px;
}
.modal .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.modal .form-group label {
  font-size: 1rem;
  font-weight: bold;
}
.modal .form-group.priority-input-container input {
  width: auto;
}
.modal .form-group.priority-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal input, .modal textarea {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #007bff;
}

.modal .input-image {
  display: none;
}

.modal footer {
  display: flex;
  justify-content: flex-end;
  gap:0.5rem;
}
.modal .button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.modal .button.primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.task-item-title {
  font-size: 1.5rem;
  hyphens: auto;
}
.task-item-description {
  font-size: 1rem;

}
.task-item-deadline {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap:0.5rem;
  line-height: 1.15;
}
.tag-item {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background: #9f9af8;
  color: #fff;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-size: 0.75rem;
}
/* Media Queries */

@media (min-width: 576px) {
  .main-container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .main-container {
    max-width: 700px;
  }
}

